<style>
  body{
    padding-top: 70px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-5 col-centered">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div id="logbox">
        <h1 style="text-align:center; font-size: 60px">Sign Up</h1>
        <div class="text-center">
          <%= devise_error_messages! %>
        </div>
        <input name="user[name]" type="name" placeholder="Enter Your Full Name" class="input pass" autofocus="true" />
        <input name="user[username]" type="username" placeholder="Pick a username(can't be changed)" class="input pass" autofocus="true" />
        <input name="user[email]" type="email" placeholder="Enter Your Email" class="input pass" />
        <input name="user[password]" type="password" placeholder="Enter Your Password (<%= @minimum_password_length %> characters minimum)"  required="required" class="input pass" autocomplete="off" />
        <input name="user[password_confirmation]" type="password" placeholder="Password Confirmation" required="required" class="input pass" autocomplete="off" />
        <%= hidden_field_tag "user[roles][]", "" %>
        <div class="actions">
          <%= f.submit "Let's Go!", :class => 'inputButton' %>
          <div class="text-center"">
            Already Signed Up?
            <%= render "devise/shared/links" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-7">
    Become a service provider today!
    </div>
  </div>
</div>
