<style>
  body{
    padding-top: 70px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-5 col-centered">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div id="logbox">
        <h1>Log In</h1>
        <input name="user[email]" type="email" placeholder="enter your email" class="input pass"/>
        <input name="user[password]" type="password" placeholder="enter your password" required="required" class="input pass"/>
        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me, :class => 'add_pad' %>
          <%= f.label :remember_me %>
        </div>
        <%= f.submit "Log me in!", :class => "inputButton" %>
        <div class="text-center"">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<%- end %>
