<style>
  body{
    padding-top: 70px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-5 col-centered">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div id="logbox">
      <h1> Log in </h1>
      <input class="input" placeholder="Enter your email" autofocus="autofocus" type="email" value="" name="service_provider[email]" id="service_provider_email">
        <input class="input" placeholder="Enter your Password" autocomplete="off" type="password" name="service_provider[password]" id="service_provider_password">

        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me, :class => 'add_pad' %>
          <%= f.label :remember_me %>
        </div>
        <div class="actions">
          <%= f.submit "Log in", :class => "inputButton" %>
        </div>
        <div class="text-center">
          <%= render "service_providers/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end -%>

