<style>
	.nav > li{
		color: black;
	}

	.nav > li:hover{
		color: black;
	}
</style>
<!-- Navigation -->
<div class="custom_nav">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img src="http://placehold.it/150x50&text=Logo" alt="">
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<% if current_user %>
					<li class="text-center"><a href='#'>Hi, <%= current_user.name %></a></li>
					<% end %>
					<li class="text-center"><a id="help"  href="#">Help</a></li>

					<% if current_user %>
					<ul class="text-center nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="text-center"><%= link_to "Account Settings", edit_user_registration_path %></li>
								<li class="text-center"><%= link_to "Logout", destroy_user_session_path, method: :delete, confirm: "Are you sure?" %></li>
							</ul>
						</li>
					</ul>
					<% elsif current_service_provider%>
					<ul class="text-center nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="text-center"><%= link_to "My Services", myservices_path %></li>
								<li class="text-center"><%= link_to "Add Service", new_service_path %></li>
								<li class="text-center"><%= link_to "Logout", destroy_service_provider_session_path, method: :delete, confirm: "Are you sure?" %>
								</li>						
							</ul>
						</li>
					</ul>
					<% else %>
					<li class="text-center"><a href="/">Home<span class="sr-only">(current)</span></a></li>
					<li class="text-center"><%= link_to "Sign Up", new_user_registration_path %></li>
					<li class="text-center"><%= link_to "Login", registrations_path %></li>
					<% end %>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
</div>